<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events>
      <event name="publish:end">
        <handler type="RD.PublishTelemetry.Events.ItemPublishTracker, RD.PublishTelemetry" method="PublishEnd" />
      </event>
    </events>
  </sitecore>
</configuration>